#n1{
    background-color: black;
    color: white    ;
    text-align: center;
    border-radius: 4px ;
    font-family: Arial, Helvetica, sans-serif;
}

#bt1{
    color: #332200;
    background-color: #febe01;
}
#destaque{
    color: #febe01;
}

h1{
    font-size: 30px;
}

h2{
    font-size: smaller;
}